body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-small {
	font-size: 14px;
}

nav.top-bar {
	height: 45px;
	background-color: white;
	margin-bottom: 0px;
}

.top-bar-section .has-form {
	background-color: white;
}

.top-bar .name h1 a {
	color: black;
}

.top-bar.expanded .toggle-topbar a span, .top-bar .toggle-topbar.menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px #212121, 0 16px 0 1px #212121, 0 22px 0 1px #212121;
	box-shadow: 0 10px 0 1px #212121, 0 16px 0 1px #212121, 0 22px 0 1px #212121;
}

.top-bar.expanded .title-area {
background: white;
}

.top-bar-section ul li > a:not(.button) {
	color: #222222;
	background-color: white;
}

.top-bar-section li a:not(.button) {
	background-color: white;
}

.top-bar-section ul li > a.button {
	border-radius: 5px;
	border: none;
	box-shadow: none;
}

.marketing {
	background: #72ac3e; 
	padding-top: 30px;
	padding-bottom: 30px;

}

.marketing h1, .marketing p{
	color: white;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);	
}

.marketing h1 {
	font-size: 60px;
	line-height: 65px;
}

.marketing input{
	border-radius: 5px;
	padding: 10px;
	font-size: 16px;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.marketing input[type="submit"]{
	font-size: 14px;
	background: #485044;
}

.marketing input[type="submit"]:hover{
	background: #2d3927;
}

.marketing form {
	padding-top: 15px;
}

.social {
	padding: 22px 0 17px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}

.social ul {
	margin: 0px;
}

.social-list li {
	list-style: none;
	display: inline;
}


.benefits {
	padding-top: 80px;
}

.benefits h1, h4 {
	font-weight: normal;
	text-align: center;
}

.benefits h1 {
	font-size: 42px;
	margin-bottom: 0px;
}

.benefits-perticular {
	padding-top: 50px;
	text-align: center;
}

.benefits-perticular p {	
	color: #5a5a5a;
}

.benefits-container {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 70px;
}

.samples {
	padding-top: 60px;
}

.samples h1, h4 {
	font-weight: normal;
	text-align: center;
}

.samples h1 {
	font-size: 42px;
	margin-bottom: 0px;
}

.sidebar {
	width: 200px;
}